<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda te esperando, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Recebedor: </strong> {{recipient_name}} <br />
  <strong>Rua: </strong> {{street}} <br />
  <strong>Número: </strong> {{number}} <br />
  <strong>Complemento: </strong> {{complement}} <br />
  <strong>Estado: </strong> {{state}} <br />
  <strong>Cidade: </strong> {{city}} <br />
  <strong>Cep: </strong> {{cep}} <br />
  <br />
  <small>
    A retirada pode ser feita entre 08:00h e 18:00h
  </small>
</p>
